@import "./variables";
h1{
    color:$heading-color
}

h3{
        color:$heading-color
}

h4{
    color:$secondary-color
}

h5
{
    color:$secondary-color
}

.contact{
    i{
        color:$icon-color
    }
}